.main
{
    border: 2px solid rgb(231, 227, 227);
    margin: auto;
    width: 340px;
    height: 400px;
    margin-top: 50px;
}
.h1
{
    text-align: center;
    color: darkgreen;
}
.cal
{
    margin-top: 15px;
    margin-left: 40px;
    width: 250px;
    height: 30px;
}
.box
{
    border: 2px solid  rgb(247, 239, 239);
    border-radius: 5px;
    margin: 10px;
    width: 40px;
    height: 40px;

    

}
.grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 10px;
    
    
    
}